.box-shadow-y {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
}

body {
  padding: 8px;
}

.chart-container {
  position: relative;
  margin: auto;
  height: 80vh;
  width: 80vw;
}

.forms {
  padding: 5px;
  position: relative;
  width: 300px;
}
